---
---
    <div class="jumbotron jumbotron-fluid py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="display-4">Rebol is ...</h1>
                    
                    <p class="lead">A lightweight, expressive language in a small package.</p>
                    
                    <p>
                        <ul>
                            <li>create optimized, domain-specific languages for code and data</li>
                            <li>create cross-platform applications for Windows, Linux and macOS</li>
                            <li>supports many different programming styles</li>
                            <li>no installation required</li>
                        </ul>
                    </p>
                    
                    <hr class="my-4">
                    
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a>
                        
                        <a class="float-right" href="https://forum.rebol.info" target="_blank" data-toggle="tooltip" data-placement="top" title="Visit Our Forum">
                            <img class="icon-social" src="/assets/img/forum.png">
                        </a>
                        <a class="float-right" href="https://www.reddit.com/r/rebol" target="_blank" data-toggle="tooltip" data-placement="top" title="Visit Us on Reddit">
                            <img class="icon-social" src="/assets/img/reddit.png">
                        </a>
                        <a class="float-right" href="https://chat.stackoverflow.com/rooms/291/rebol-and-red" target="_blank" data-toggle="tooltip" data-placement="top" title="Visit Us on Stack Overflow">
                            <img class="icon-social" src="/assets/img/stackoverflow.png">
                        </a>
                    </p>
                </div>
                <div class="col-lg-6">
                    <div id="carouselCode" class="carousel slide" data-ride="false" data-interval="false">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselCode" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselCode" data-slide-to="1"></li>
                            <li data-target="#carouselCode" data-slide-to="2"></li>
                        </ol>
                    
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <pre class="prettyprint lang-rebol"><code>{% include example1.reb %}</code></pre>
                            </div>
                            <div class="carousel-item">
                                <pre class="prettyprint lang-rebol"><code>{% include example2.reb %}</code></pre>
                            </div>
                            <div class="carousel-item">
                                <pre class="prettyprint lang-rebol"><code>{% include example3.reb %}</code></pre>
                            </div>
                        </div>
                        
                        <a class="carousel-control-next" href="#carouselCode" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-xl-3 mb-4 mb-xl-0">
                <div class="row">
                    <div class="col-3 float-right">
                        <span class="oi oi-cog icon-example align-top" title="" aria-hidden="true"></span>
                    </div>
                    <div class="col-9 float-left">
                        <span class="h5">Industrial Automation</span><br>
                        <span class="lead small">
                            Rebol makes complex tasks simple, and it is used in world class, industrial automation products like 
                            <a href="https://www.atronixengineering.com/zoe" target="_blank">ZOE</a> by 
                            <a href="https://www.atronixengineering.com" target="_blank">Atronix</a></span>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-xl-3 mb-4 mb-xl-0">
                <div class="row">
                    <div class="col-3 float-right">
                        <span class="oi oi-code icon-example align-top" title="" aria-hidden="true"></span>
                    </div>
                    <div class="col-9 float-left">
                        <span class="h5">Scripting</span><br>
                        
                        <span class="lead small">
                            "A more modern language, but with some very similar ideas to Lisp, in that it's all built upon a representation of data which is then executable as programs"
                        </span>
                        <footer class="blockquote-footer mt-1">Douglas Crockford in <cite title="Source Title">The JSON Saga</cite></footer>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-xl-3 mb-4 mb-md-0">
                <div class="row">
                    <div class="col-3 float-right">
                        <span class="oi oi-cloud icon-example align-top" title="" aria-hidden="true"></span>
                    </div>
                    <div class="col-9 float-left">
                        <span class="h5">Web Application</span><br>
                        <span class="lead small">
                            Rebol can be used to power highly, scalable websites. It has the ability to connect directly to MySQL, and other databases using ODBC.
                            It has been used to run forums and secure, messaging systems like <a href="http://www.altme.com" target="_blank">AltME</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-xl-3 mb-1">
                <div class="row">
                    <div class="col-3 float-right">
                        <span class="oi oi-loop-square icon-example align-top" title="" aria-hidden="true"></span>
                    </div>
                    <div class="col-9 float-left">
                        <span class="h5">DSL Creation</span><br>
                        <span class="lead small">
                            Rebol has a powerful parsing syntax that allows you to create domain-specific languages quickly and easily.
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <br>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h4 class="d-inline"><em>Latest News</em></h4>
                <a href="#"><img class="float-right" src="/assets/img/rss.png"></a>
                <hr class="mb-4">
            </div>
        </div>
        
        <div id="carouselNews" class="carousel slide" data-ride="false" data-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row px-4">
                        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0 equal">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-right card-date"><small>Sunday, Jan 14th, 2018</small></div>
                                    <h6 class="card-title"><strong>News Article Title</strong></h6>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ...</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0 equal">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-right card-date"><small>Saturday, Jan 13th, 2018</small></div>
                                    <h6 class="card-title"><strong>News Article Title</strong></h6>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ...</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0 equal">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-right card-date"><small>Friday, Jan 12th, 2018</small></div>
                                    <h6 class="card-title"><strong>News Article Title</strong></h6>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ...</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0 equal">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-right card-date"><small>Friday, Jan 12th, 2018</small></div>
                                    <h6 class="card-title"><strong>News Article Title</strong></h6>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="carousel-item">
                    <div class="row px-4">
                        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0 equal">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-right card-date"><small>Thursday, Jan 11th, 2018</small></div>
                                    <h6 class="card-title"><strong>News Article Title</strong></h6>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ...</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0 equal">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-right card-date"><small>Thursday, Jan 11th, 2018</small></div>
                                    <h6 class="card-title"><strong>News Article Title</strong></h6>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ...</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0 equal">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-right card-date"><small>Thursday, Jan 11th, 2018</small></div>
                                    <h6 class="card-title"><strong>News Article Title</strong></h6>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ...</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0 equal">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-right card-date"><small>Thursday, Jan 11th, 2018</small></div>
                                    <h6 class="card-title"><strong>News Article Title</strong></h6>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <a class="carousel-control-prev" href="#carouselNews" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            
            <a class="carousel-control-next" href="#carouselNews" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        
        <br>
        
        <div class="row">
            <div class="col-xl-4 equal">
                <div class="jumbotron bg-light p-4 border border-secondary">
                    <div class="col-12">
                        <h3>The Evolution of Rebol 3</h3>
                        
                        <p class="lead">Explore the history of Rebol and how we got where we are today lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do ...</p>
                        
                        <p class="lead">
                            <a class="btn btn-primary" href="#" role="button">Read More</a>
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-8 equal">
                <div class="jumbotron bg-light p-4 border border-secondary">
                    <div class="col-12">
                        <h3>Rebol Software Foundation</h3>
                        
                        <p class="lead">The mission of the Rebol Software Foundation is to lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat ...</p>
                        
                        <p class="lead">
                            <a class="btn btn-primary mb-3 mb-sm-0" href="#" role="button">Become a Member</a>
                            <a class="btn btn-primary" href="#" role="button">Donate to the RSF</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>