---
---
{% assign roadmap = site.collections | where: "label" , "roadmap" | first %}
{% assign roadmapSorted = roadmap.docs | sort: "order" %}
{% assign inverted = 0 %}

    <div class="container">
        <h1 class="display-4">Rebol Roadmap</h1>
        
        <p class="py-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    
        <ul class="roadmap">
            {% for item in roadmapSorted %}
            {% if item.hidden %} {% continue %} {% endif %}
                <li class="{% if inverted == 1 %}roadmap-inverted{% assign inverted = 0 %}{% else %}{% assign inverted = 1 %}{% endif %}">
                    <div class="roadmap-badge bg-dark"><span class="oi {% if item.completed %}oi-check icon-roadmap{% else %}oi-pulse icon-roadmap-pulse{% endif %}" title="" aria-hidden="true"></span></div>

                    <div class="roadmap-panel">
                        <h4 class="roadmap-title">{{ item.title }}</h4>
                        {% if item.completed %}
                        <p><small class="text-muted"><span class="oi oi-clock icon-roadmap-clock" title="" aria-hidden="true"></span><span class="pl-2 align-top">Completed in {{ item.completed }}</span></small></p>
                        {% endif %}
                        
                        <p class="mb-0">{{ item }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>