/**** Home ****/

/* 
 * Centers the title with the logo
 *
 * The h3 class appears to be causing issues with the logo's align-middle  
 *
 */
.logo-title {
    position: relative;
    top: 0.3rem;
}

/*
 * Adds an underline to each navbar link you hover over,
 * as well as any link that is marked as active
 *
 * It should use the same color as the logo
 *
 */
.nav-item:hover .nav-underline,
.nav-item.active .nav-underline {
    border-bottom: 0.15rem solid #343434;
}

/*
 * Fixes a few display issues with the <pre> tag,
 * when it is inside a carousel
 *
 * Adds a minimum height so that it doesn't jump around when changing slides
 * Adds some padding so the code doesn't appear to be so close to the edge
 * All overflow is hidden, in case the code gets too large for smaller screens
 *
 */
.carousel pre {
    min-height: 24rem;
    padding: 1.5rem;
    overflow: hidden;
}

/*
 * Adds some padding around each social media icon
 *
 */
.icon-social {
    padding: 0.5rem;
}

/*
 * Sets a standard size for the example icons
 *
 */
.icon-example {
    font-size: 5rem;
}

/*
 * Forces all elements, with the same parent, to have an equal height
 *
 */
.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

/*
 * Changes the carousel indicators to black
 *
 */
#carouselCode .carousel-indicators li {
    background-color: rgba(0,0,0,0.5);
}

#carouselCode .carousel-indicators li.active {
    background-color: #000000;
}

/*
 * Forces a maximum width on the card
 *
 * This is needed to constrain the 100% width we added to the card body
 * I would rather not do this, and allow the card to expand naturally instead, 
 * but there doesn't seem to be a workaround for the IE issue
 *
 */
#carouselNews .card {
    max-width: 21.1rem;
}

/*
 * Sets all news links to black
 *
 */
#carouselNews .card-title a {
    color: #000000;
}

/*
 * Fixes a few display issues with the card body
 *
 * We hide all content that doesn't fit inside the box
 * Adds a height so that it doesn't jump around when changing slides
 * Adds a 100% width so that IE displays the cards properly
 *
 */
#carouselNews .card-body {
    overflow: hidden;
    height: 11rem;
    width: 100%;
}

/*
 * Moves the date closer to the top of the card
 *
 */
#carouselNews .card-date {
    position: relative;
    top: -0.7rem;
}

/*
 * Reduces the space needed to display the prev and next arrows
 *
 */
#carouselNews .carousel-control-prev,
#carouselNews .carousel-control-next {
    width: 1%;
}

/*
 * Changes the prev arrow icon to black
 *
 */
#carouselNews .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

/*
 * Changes the next arrow icon to black
 *
 */
#carouselNews .carousel-control-next-icon,
#carouselCode .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/**** Docs ****/

/*
 * The breadcrumb background color
 *
 */
.bg-breadcrumb {
    background-color: #E9ECEF;
}

/*
 * Forces the accordion navigation to expand to the height of the page
 *
 */
.accordionDocCard {
    height: 100%;
}

/*
 * Fixes a few display issues with the accordion sections
 *
 * Sets the font weight midway between regular and bold
 * Sets the cursor to a pointer so it appears clickable
 *
 */
#accordionDoc .item h5 {
    font-weight: 600;
    cursor: pointer;
}

/*
 * Fixes a few display issues with the accordion sub-sections,
 * when hovering over them with your mouse or when active
 *
 * Sets the background color to match the logo
 * Sets the font weight midway between regular and bold
 * Sets the cursor to a pointer so it appears clickable
 * Removes the border on list group items
 * Sets the text color to white
 *
 */
.accordionDocSub:hover,
.accordionDocSub.active {
    background-color: #343434;
    font-weight: 600;
    cursor: pointer;
    border: 0px;
    color: #FFFFFF;
}

/*
 * Removes the underline on all dropdown anchors
 *
 */
a.dropdown-toggle {
    text-decoration: none;
}

/*
 * Overrides the Bootstrap blockquote look
 *
 */
blockquote {
    background: #F8F9FA; 
    border-left: 10px solid #E9ECEF;
    margin: 1rem 1.7rem;
    padding: 0.5rem 1rem;
}

blockquote p {
    display: inline;
}

/**** Roadmap ****/

/* This needs major cleanup and commenting */

.icon-roadmap {
    font-size: 1rem;
}

.roadmap {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.roadmap:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.roadmap > li {
  margin-bottom: 20px;
  position: relative;
}

.roadmap > li:before,
.roadmap > li:after {
  content: " ";
  display: table;
}

.roadmap > li:after {
  clear: both;
}

.roadmap > li:before,
.roadmap > li:after {
  content: " ";
  display: table;
}

.roadmap > li:after {
  clear: both;
}

.roadmap > li > .roadmap-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.roadmap > li > .roadmap-panel:before {
  position: absolute;
  top: 26px;
  right: -14px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.roadmap > li > .roadmap-panel:after {
  position: absolute;
  top: 26px;
  right: -13px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 15px solid transparent;
  content: " ";
}

.roadmap > li > .roadmap-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.roadmap > li.roadmap-inverted > .roadmap-panel {
  float: right;
}

.roadmap > li.roadmap-inverted > .roadmap-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.roadmap > li.roadmap-inverted > .roadmap-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.roadmap-body > p,
.roadmap-body > ul {
  margin-bottom: 0;
}

.roadmap-body > p + p {
  margin-top: 5px;
}