{% include header.html %}

{% assign url = page.url | split: "/" %}

{% capture sectionsLabel %}{{ url[2] }}_sections{% endcapture %}
{% capture chaptersLabel %}{{ url[2] }}_chapters{% endcapture %}
{% capture pagesLabel %}{{ url[2] }}_pages{% endcapture %}

{% assign sections = site.collections | where: "label" , sectionsLabel | first %}
{% assign chapters = site.collections | where: "label" , chaptersLabel | first %}
{% assign pages = site.collections | where: "label" , pagesLabel | first %}

{% for section in sections.docs %}
    {% assign sectionPath = section.path | split: "/" %}
    {% assign sectionName = sectionPath[1] | remove: ".md" %}
    
    {% if sectionName == page.section %}
        {% assign bcSection = section.title %}
    {% endif %}
{% endfor %}

{% for chapter in chapters.docs %}
    {% assign chapterPath = chapter.path | split: "/" %}
    {% assign chapterName = chapterPath[1] | remove: ".md" %}
    
    {% if chapterName == page.chapter %}
        {% assign bcChapter = chapter.title %}
    {% endif %}
{% endfor %}

<nav class="navbar navbar-expand-lg bg-breadcrumb py-0">
    <ul class="navbar-nav pl-1">
        <li class="nav-item dropdown">
            <a class="dropdown-toggle text-dark" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% for item in site.versions %}
            {% if item.version == url[2] %}{{ item.title }}{% endif %}
            {% endfor %}
            </a>
            
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for item in site.versions %}
                <a class="dropdown-item {% if item.version == url[2] %}active{% endif %}" href="/docs/{{ item.version }}/">{{ item.title }}</a>
                {% endfor %}
            </div>
            
            {% if bcSection %}
            <span class="navbar-text text-muted px-1">/</span>
            <span class="navbar-text text-muted">{{ bcSection }}</span>
            {% endif %}
            
            {% if bcChapter %}
            <span class="navbar-text text-muted px-1">/</span>
            <span class="navbar-text text-muted">{{ bcChapter }}</span>
            {% endif %}
            
            <span class="navbar-text text-muted px-1">/</span>
            <span class="navbar-text text-muted">{{ page.title }}</span>
        </li>
    </ul>
    
    <div class="navbar-text ml-auto">
        <a href="https://github.com/BrianOtto/reboldocs/issues/new?title=Documentation Issue for {{ page.url | replace: "/docs", "" | replace: ".html", "" }}&body=Please read the CONTRIBUTING guidelines before submitting an issue.&labels=docs" target="_blank">
            <button type="button" class="btn btn-breadcrumb float-right"><img src="/assets/img/github.png"><span class="pl-2 align-middle">Report Page Issue</span></button>
        </a>
    </div>
</nav>

<div class="container-fluid pl-0 pt-0 pb-0">
    <div class="row">
        <div class="col-lg-3">
            <div class="card card-body accordionDocCard border-left-0 border-bottom-0 border-top-0 rounded-0">
                {% assign sectionsSorted = sections.docs | sort: "order" %}
                
                <div id="accordionDoc" data-children=".item">
                    {% for section in sectionsSorted %}
                    <div class="item">
                        <h5 data-toggle="collapse" data-parent="#accordionDoc" href="#accordionDoc{{ section.order }}" role="button" aria-expanded="false" aria-controls="accordionDoc{{ section.order }}">
                            {{ section.title }}
                        </h5>
                        
                        {% assign sectionPath = section.path | split: "/" %}
                        {% assign sectionName = sectionPath[1] | remove: ".md" %}
                        
                        {% assign chaptersInSection = chapters.docs | where: "section" , sectionName %}
                        {% assign chaptersInSectionSorted = chaptersInSection | sort: "order" %}
                        
                        <div id="accordionDoc{{ section.order }}" class="collapse pl-3 show" role="tabpanel">
                            <div class="mb-2">
                                {% for chapter in chaptersInSectionSorted %}
                                
                                {% assign chapterPath = chapter.path | split: "/" %}
                                {% assign chapterName = chapterPath[1] | remove: ".md" %}
                                
                                <div class="accordionDocSub p-2 {% if chapter.url == page.url %}active{% endif %}" onclick="window.location.href = '{{ chapter.url }}'">
                                    {% if page.url contains '/docs/archived/' %}{% if chapter.url == page.url or chapterName == page.chapter %}<img class="pr-2" src="/assets/img/archived-open.png" width="30" height="30">{% endif %}{% endif %}{{ chapter.title }}
                                </div>
                                
                                {% if chapter.url == page.url or chapterName == page.chapter or page.script-url %}
                                
                                    {% assign pagesInChapter = pages.docs | where: "chapter" , chapterName %}
                                    {% assign pagesInChapterSorted = pagesInChapter | sort: "order" %}
                                    
                                    <ul class="list-group">
                                        {% for pics in pagesInChapterSorted %}
                                        {% if pics.script-url == nil %}
                                        {% unless page.url contains '/docs/archived/scripts/' %}
                                        <li class="list-group-item accordionDocSub p-2 ml-4 rounded-0 {% if pics.url == page.url or pics.url == page.script-url %}active{% endif %}" onclick="window.location.href = '{{ pics.url }}.html'">{% if page.url contains '/docs/archived/' %}<img class="pr-2" src="/assets/img/archived-script.png" width="30" height="30">{% endif %}{{ pics.title }}</li>
                                        {% endunless %}
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                    
                                {% endif %}
                                
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="col-lg-9 pt-3">
            {% if page.url contains '/docs/archived/scripts/' %}
            <div class="py-2">
                <div class="btn-group" role="group" aria-label="Script Buttons">
                    {% if page.url contains '.r.doc' %}
                    <a type="button" class="btn btn-outline-dark" href="{{ page.url | replace: "/docs/archived/scripts/", "" | replace: ".doc", "" }}">Download Script</a>
                    <a type="button" class="btn btn-outline-dark" href="{{ page.url | replace: "/docs/archived/scripts/", "" | replace: ".doc", ".html" }}">View Script</a>
                    {% else %}
                    <a type="button" class="btn btn-outline-dark" href="{{ page.url | replace: "/docs/archived/scripts/", "" }}">Download Script</a>
                    <a type="button" class="btn btn-outline-dark" href="{{ page.url | replace: "/docs/archived/scripts/", "" | replace: ".r", ".r.doc.html" }}">View Documentation</a>
                    {% endif %}
                </div>
                
                <img src="/assets/img/license-cc-by-sa.png" width="88" height="31" class="ml-3">
            </div>
            {% endif %}
            
            <!-- TODO: add a div wrapper around the script docs so we can target the CSS selectors better -->
            
            {% if page.url contains '/docs/archived/scripts/' and page.path contains '.r.html' %}<pre class="prettyprint lang-rebol mx-0"><code>{% endif %}{{ content }}{% if page.url contains '/docs/archived/scripts/' and page.url contains '.r.html' %}</code></pre>{% endif %}
            
            <!--
            <div class="row">
                <div class="col-12">
                    <div id="disqus_thread"></div>
                </div>
            </div>
            -->
        </div>
    </div>
</div>

{% include footer.html %}